#book-listing .book-item {
    position: relative;
}

#book-listing .book-item:hover {
    cursor: pointer;
}

#book-listing .book-item:hover img {
    transform: scale(1.03);
}

#book-listing .book-item:hover .book-overlay {
    background-color: rgba(3,18,38,0.8); /* background RGB */
    opacity: 1;
    color: var(--highlight);
}

#book-listing .book-image {
    overflow: hidden;
    border-radius: 5px;
}

#book-listing a img {
    width: 100%;
    transition: 0.5s all;
}

#book-listing p {
    margin-bottom: 0;
}

.book-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(3,18,38,0); /* background RGB */
    opacity: 0;
    transition: 0.5s all;
}
