---
title: There and Back Again
pagination:
    data: collections.blog
    size: 4
    reverse: true
css: "landing"
layout: main_layout.liquid
---

<div class="container-fluid">
    <div class="text-center mt-4">
        <a href="{{pagination.href.first}}">First</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        {% if pagination.href.previous %}
            <a href="{{pagination.href.previous}}">Previous</a>
        {% else %}
            <a href="{{pagination.href.previous}}" class="disableClick">Previous</a>
        {% endif %}
        &nbsp;&nbsp;|&nbsp;&nbsp{{ pagination.pageNumber | plus-one }}&nbsp;&nbsp|&nbsp;&nbsp;
        {% if pagination.href.next %}
            <a href="{{pagination.href.next}}">Next</a>
        {% else %}
            <a href="{{pagination.href.next}}" class="disableClick">Next</a>
        {% endif %}
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{pagination.href.last}}">Last</a>
    </div>

    <div id="book-listing" class="row embossed-edges">
        {% for post in pagination.items %}
        <div class="col-12 col-sm-6 col-lg-3 pt-4">
            <a href="{{post.url}}">
                <div class="book-item">
                    <div class="text-center mb-2">
                        {% if post.data.stars >= 1 %}
                            <i class="fas fa-star"></i>
                        {% endif %}
                        {% if post.data.stars >= 2 %}
                            <i class="fas fa-star"></i>
                        {% endif %}
                        {% if post.data.stars >= 3 %}
                            <i class="fas fa-star"></i>
                        {% endif %}
                        {% if post.data.stars >= 4 %}
                            <i class="fas fa-star"></i>
                        {% endif %}
                        {% if post.data.stars >= 5 %}
                            <i class="fas fa-star"></i>
                        {% endif %}
                    </div>
                    <div class="book-image">
                        <img src="/assets/covers/{{post.data.cover}}" alt="{{post.data.post_title}}"/>
                    </div>
                    <p class="text-center mt-2">{{ post.data.post_date | formatted-date }}</p>
                    <div class="book-overlay d-flex justify-content-center align-items-center text-center p-1">
                        <h3>{{post.data.post_title}}</h3>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="text-center my-2">
        <a href="/rating_system">Rating Scales Info</a>
    </div>
</div>
